/* CSS declarations go here */
.circle {
	width: 80px;
	height: 80px;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	text-align: center;
}
h3 {
	text-align: center;
}
